@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body{
    background-color: white;
    margin: 0;
}

h1{
    display: block;
    font-size: 5vw;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 20px;
    margin: 0;
    color: white;
    padding-top: 45px;
}

h2{
    text-align: center;
    font-size: 1.2em;
    color: white;
}

main p{
    font-size: 3.5vw;
    padding: 20px;
    line-height: 1.5em;
    font-family: "Handlee", serif;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
    color: rgb(155, 155, 155);
}

header{
    background-color: black;
}

header > h2{
    padding-bottom: 30px;
}

main section.destaque{ 
    max-height: 1000px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset .5em .5em .5em rgba(0, 0, 0, 0.39);
}

#im1{
    background-image: url(imagens/background001.jpg);
}

#im2{
    background-image: url(imagens/background002.jpg);
}

main section.destaque p{
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    display: inline-block;
    margin: 50px;
}

footer{
    background-color: black;
}

footer p{
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 5px;
}